:root {
    --button-font-family: "Lato", Helvetica, sans-serif;
    --button-font-weight: 700;
    --button-font-size: 20px;
    --button-letter-spacing: 0px;
    --button-line-height: 24px;
    --button-font-style: normal;
    --amica-body-font-family: "Lato", Helvetica, sans-serif;
    --amica-body-font-weight: 300;
    --amica-body-font-size: 20px;
    --amica-body-letter-spacing: 0px;
    --amica-body-line-height: 24px;
    --amica-body-font-style: normal;
    --amica-h2-font-family: "Uni Neue", Helvetica, sans-serif;
    --amica-h2-font-weight: 700;
    --amica-h2-font-size: 60px;
    --amica-h2-letter-spacing: 0px;
    --amica-h2-line-height: 60px;
    --amica-h2-font-style: normal;
    --amica-h3-font-family: "Uni Neue", Helvetica, sans-serif;
    --amica-h3-font-weight: 400;
    --amica-h3-font-size: 36px;
    --amica-h3-letter-spacing: 0px;
    --amica-h3-line-height: 42px;
    --amica-h3-font-style: normal;
    --amica-h3-intense-font-family: "Uni Neue", Helvetica, sans-serif;
    --amica-h3-intense-font-weight: 900;
    --amica-h3-intense-font-size: 36px;
    --amica-h3-intense-letter-spacing: 0px;
    --amica-h3-intense-line-height: 42px;
    --amica-h3-intense-font-style: normal;
    --amica-h4-font-family: "Uni Neue", Helvetica, sans-serif;
    --amica-h4-font-weight: 700;
    --amica-h4-font-size: 24px;
    --amica-h4-letter-spacing: 0.108px;
    --amica-h4-line-height: 24px;
    --amica-h4-font-style: normal;
    --amica-h5-font-family: "Uni Neue", Helvetica, sans-serif;
    --amica-h5-font-weight: 700;
    --amica-h5-font-size: 18px;
    --amica-h5-letter-spacing: 0.081px;
    --amica-h5-line-height: 24px;
    --amica-h5-font-style: normal;
    --amica-h1-font-family: "Uni Neue", Helvetica, sans-serif;
    --amica-h1-font-weight: 700;
    --amica-h1-font-size: 80px;
    --amica-h1-letter-spacing: 0px;
    --amica-h1-line-height: 85px;
    --amica-h1-font-style: normal;
    --amica-tile: 3px 3px 20px 0 rgba(0, 0, 0, 0.08);
    --amica-buttons: 0px 2px 3px 0 rgba(0, 0, 0, 0.3);
    --variable-collection-amica-accent: #E41429;
    --variable-collection-amica-dark: #333333;
    --variable-collection-amica-light: #F5F5F5;
    --variable-collection-amica-white: #FFFFFF;
    --variable-collection-amica-buttons-dark: #454545;
}
