html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#nawigacja {
  background: var(--variable-collection-amica-accent);
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* Wyśrodkowanie top-menu */
  height: 135px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  /* Zapewnia, że padding jest wliczany w szerokość */
}

.menu-container {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* Wyśrodkowanie top-menu */
  height: 135px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  /* Zapewnia, że padding jest wliczany w szerokość */
}

.text-wrapper-15 {
  top: 49px;
  left: 1139px;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  color: #ffffff;
  font-size: var(--button-font-size);
  text-align: right;
  letter-spacing: var(--button-letter-spacing);
  line-height: var(--button-line-height);
  white-space: nowrap;
  font-style: var(--button-font-style);
}

.amica-atoms-logo-2 {
  width: 209px;
  height: 125px;
  top: 0;
  left: 135px;
}


.box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 20px;
  }
  
  .box .group {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .box .overlap {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
  }
  
  .box .hero {
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group {
    position: relative;
    height: 600px;
  }
  
  .box .overlay-wrapper {
    position: absolute;
    width: 1440px;
    height: 600px;
    background-image: url(./img/img1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    top: 0;
    left: 0;
  }
  
  .box .overlay {
    height: 600px;
    background-color: var(--variable-collection-amica-dark);
    opacity: 0.3;
  }
  
  .box .frame {
    display: flex;
    flex-direction: column;
    width: 1170px;
    align-items: flex-start;
    position: absolute;
    top: 120px;
    left: 135px;
  }
  
  .box .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: 0px;
    margin-bottom: 5px;
    text-shadow: 0px 2px 3px #0000004c;
    font-family: var(--amica-h3-font-family);
    font-weight: var(--amica-h3-font-weight);
    color: var(--variable-collection-amica-white);
    font-size: var(--amica-h3-font-size);
    letter-spacing: var(--amica-h3-letter-spacing);
    line-height: var(--amica-h3-line-height);
    font-style: var(--amica-h3-font-style);

  }
  
  .box .inspirowane-tym-co {
    position: relative;
    align-self: stretch;
    height: 180px;
    text-shadow: 0px 2px 3px #0000004c;
    font-family: var(--amica-h1-font-family);
    font-weight: var(--amica-h1-font-weight);
    color: var(--variable-collection-amica-white);
    font-size: var(--amica-h1-font-size);
    letter-spacing: var(--amica-h1-letter-spacing);
    line-height: var(--amica-h1-line-height);
    font-style: var(--amica-h1-font-style);
  }
  
  .box .div {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    gap: 100px;
    position: absolute;
    top: 565px;
    left: 0;
  }
  
  .box .content {
    display: flex;
    flex-direction: column;
    width: 1170px;
    align-items: center;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .div-2 {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .box .amica-elements {
    display: flex;
    flex-direction: column;
    width: 370px;
    align-items: center;
    gap: 30px;
    padding: 30px 0px;
    position: relative;
    background-color: var(--variable-collection-amica-white);
    box-shadow: var(--amica-tile);
  }
  
  .box .frame-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .box .icon {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 60px;
    border: 1px solid;
    border-color: var(--variable-collection-amica-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .box .img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 19px;
    left: 19px;
    object-fit: cover;
  }
  
.lottie-animation {
    position: relative;
    top: 18px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: inline-block;

}


  .box .frame-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .box .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--amica-h4-font-family);
    font-weight: var(--amica-h4-font-weight);
    color: #000000;
    font-size: var(--amica-h4-font-size);
    text-align: center;
    letter-spacing: var(--amica-h4-letter-spacing);
    line-height: var(--amica-h4-line-height);
    font-style: var(--amica-h4-font-style);
  }
  
  .box .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    font-family: var(--amica-body-font-family);
    font-weight: var(--amica-body-font-weight);
    color: #000000;
    font-size: var(--amica-body-font-size);
    text-align: center;
    letter-spacing: var(--amica-body-letter-spacing);
    line-height: var(--amica-body-line-height);
    font-style: var(--amica-body-font-style);
  }
  
  .box .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 42px;
    align-items: center;
    gap: 10px;
    padding: 0px 72px;
    position: relative;
  }
  
  .box .rectangle {
    position: absolute;
    width: 130px;
    height: 42px;
    top: 0;
    left: 0;
    background-color: var(--variable-collection-amica-accent);
    border-radius: 8px;
    box-shadow: 0px 2px 3px #0000004c;
  }
  
  .box .frame-4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    position: relative;
    flex: 0 0 auto;
    margin-left: -43.5px;
    margin-right: -43.5px;
  }
  
  .box .button-text {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -1px;
    font-family: "Uni Neue-Book", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
    white-space: nowrap;
  }
  
  .box .amica-atoms-icons {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .box .element {
    position: absolute;
    width: 138px;
    height: 138px;
    top: -20px;
    left: -20px;
    object-fit: cover;
  }
  
  .box .p {
    position: relative;
    width: 770px;
    margin-top: -1px;
    margin-bottom: 0px;
    font-family: "Uni Neue-Regular", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-amica-dark);
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 42px;
  }
  
  .box .span {
    font-family: var(--amica-h3-font-family);
    font-weight: var(--amica-h3-font-weight);
    color: #333333;
    font-size: var(--amica-h3-font-size);
    letter-spacing: var(--amica-h3-letter-spacing);
    line-height: var(--amica-h3-line-height);
    font-style: var(--amica-h3-font-style);
  }
  
  .box .text-wrapper-4 {
    font-family: var(--amica-h3-intense-font-family);
    font-weight: var(--amica-h3-intense-font-weight);
    font-style: var(--amica-h3-intense-font-style);
    letter-spacing: var(--amica-h3-intense-letter-spacing);
    line-height: var(--amica-h3-intense-line-height);
    font-size: var(--amica-h3-intense-font-size);
  }
  
  .box .ogl-dasz-tyle {
    position: relative;
    width: 870px;
    font-family: var(--amica-body-font-family);
    font-weight: var(--amica-body-font-weight);
    color: var(--variable-collection-amica-dark);
    font-size: var(--amica-body-font-size);
    text-align: center;
    letter-spacing: var(--amica-body-letter-spacing);
    line-height: var(--amica-body-line-height);
    font-style: var(--amica-body-font-style);
  }
  
  .box .rectangle-2 {
    position: relative;
    width: 1170px;
    height: 500px;
  }
  
  .box .text-wrapper-5 {
    position: relative;
    width: 770px;
    font-family: var(--amica-body-font-family);
    font-weight: var(--amica-body-font-weight);
    color: var(--variable-collection-amica-dark);
    font-size: var(--amica-body-font-size);
    text-align: center;
    letter-spacing: var(--amica-body-letter-spacing);
    line-height: var(--amica-body-line-height);
    font-style: var(--amica-body-font-style);
  }
  
  .box .kuchnie {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
  }
  
  .box .overlap-wrapper {
    position: relative;
    align-self: stretch;
    width: 570px;
  }
  
  .box .overlap-2 {
    position: relative;
    height: 400px;
  }
  
  .box .overlap-group-wrapper {
    position: absolute;
    width: 570px;
    height: 400px;
    top: 0;
    left: 0;
  }
  
  .box .div-wrapper {
    position: relative;
    width: 610px;
    height: 440px;
    top: -17px;
    left: -17px;
    background-image: url(./img/kuchnia1.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .box .overlay-2 {
    position: relative;
    width: 570px;
    height: 400px;
    top: 17px;
    left: 17px;
    box-shadow: 3px 3px 20px #00000014;
    background-color: var(--variable-collection-amica-dark);
    opacity: 0.3;
  }
  
  .box .frame-5 {
    width: 570px;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 111px;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  
  .box .frame-6 {
    align-items: flex-start;
    gap: 12px;
    padding: 0px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .box .text-wrapper-6 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    text-shadow: 0px 2px 3px #0000004c;
    font-family: var(--amica-h4-font-family);
    font-weight: var(--amica-h4-font-weight);
    color: var(--variable-collection-amica-white);
    font-size: var(--amica-h4-font-size);
    text-align: center;
    letter-spacing: var(--amica-h4-letter-spacing);
    line-height: var(--amica-h4-line-height);
    font-style: var(--amica-h4-font-style);
  }
  
  .box .text-wrapper-7 {
    position: relative;
    align-self: stretch;
    text-shadow: 0px 2px 3px #0000004c;
    font-family: var(--amica-h2-font-family);
    font-weight: var(--amica-h2-font-weight);
    color: var(--variable-collection-amica-white);
    font-size: var(--amica-h2-font-size);
    text-align: center;
    letter-spacing: var(--amica-h2-letter-spacing);
    line-height: var(--amica-h2-line-height);
    font-style: var(--amica-h2-font-style);
  }
  
  .box .amica-atoms-button {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 42px;
    align-items: center;
    gap: 10px;
    padding: 0px 0px;
    position: relative;
  }
  
  .box .overlap-group-2 {
    position: relative;
    width: 610px;
    height: 440px;
    top: -17px;
    left: -17px;
    background-image: url(./img/kuchnia2.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .box .overlap-group-3 {
    position: relative;
    width: 610px;
    height: 440px;
    top: -17px;
    left: -17px;
    background-image: url(./img/kuchnia3.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .box .overlap-group-4 {
    position: relative;
    width: 610px;
    height: 440px;
    top: -17px;
    left: -17px;
    background-image: url(./img/kuchnia4.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }
  